
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #040C16;
}
h3,h4{
  font-weight: 800;
  font-family: "Oxanium", sans-serif;
}
p{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color:rgba(255, 255, 255, 0.8);

}
.container{
  max-width: 1650px;
}

input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.primary-btn {
	background-size: 100% 100%;
	min-width: 342px;
	font-size: 24px;
	font-weight: 700;
	transition: 0.5s;
	color: #fff;
	display: inline-block;
	height: 89px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn1 {
	background-image: url('../images/bg/btn1.png');
}
.btn2 {
	background-image: url('../images/bg/btn2.png');
}
.primary-btn:hover{
  /* box-shadow: rgba(187, 187, 187, 0.35) 0px 5px 15px; */
}
.menu-bg{
  background-image: url('../images/bg/nav.png');
  background-size: 100% 100%;
  background-position:center center;
  background-repeat: no-repeat;
}
.header-cover-area {
	background: #040C16;
  position: relative;
}
/* .header-cover-area:after{
	content:"";
  background: linear-gradient(179.81deg, #080C28 0.15%, rgba(8, 12, 40, 0.39) 0.16%, rgba(29, 37, 68, 0) 99.83%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
} */
 /* .hero-container{
  position: relative;
 }  */
.hero-section {
	margin-top: -100px;
}
.nav-item > a{
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  transition: 0.5s;
}
.nav-item > a:hover,.nav-item > a:focus{
  color: #1DC89F;
}
.header-right a{
  font-size: 16px;
  margin-right: 15px;
  font-weight: 600;
  transition: 0.5s;
  color:#fff;
  
}
.button-outer-wrapper {/* Adjust padding for border thickness */
  /* background: linear-gradient(135deg, #18F1FF 0%, #3818FF 100%); */
  border-radius: 10px; /* Set border-radius here */
  

}

.button-wrapper {
	padding: 16px 28px;
	background-image: url('../images/icon/outline.png');
	background-size: 100% 100%;
	background-position: center center;
	border-radius: 10px;
}
.button-wrapper:hover a{
  color: #1DC89F;
}
.header-area {
	padding-top: 80px;
}
.header-area .container-fluid {
	padding-left: 30px;
	padding-right: 25px;
}
.hero-container {
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/bg/hero-bg2.png');
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 210px;
	padding-bottom:325px;
}
.hero-area-text{
  max-width: 912px;
  width: 100%;
}
.hero-area-text h3{
  font-size: 85px;
  line-height: 100px;
  color: #FFFFFF;
  text-shadow: 5px 0px 0px #1CD691, 11px 5px 10px rgba(28, 214, 145, 0.24);
}
.text-shadow{
  text-shadow: 5px 0px 0px #1CD691, 11px 5px 10px rgba(28, 214, 145, 0.24);
}
.icon-rotate i {
	transform: rotate(-47deg);
	margin-left: 14px;
	font-size: 22px;
}
.hero-area-text p{
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero-area-text ul{
  gap: 36px;
}
.coin-logo-area{
  max-width: 861px;
  width: 100%;
}
.coin-logo-section {
	margin-top: -180px;
	position: relative;
}
.coin-logo-area ul{
  row-gap: 40px;
}
.coin-logo-area ul li{
  width: 33%;
}
.coin-logo-area ul li{
  opacity: 0.4;
}
.running-token-section {
	background-color: #040C16;
	background-image: url('../images/bg/line-bg.png');
	background-size: 100% 80%;
	/* background-position: 0 100%; */
	margin-top: 20px;
	background-repeat: no-repeat;
}
.running-token-view-box{
  background-image: url('../images/bg/token-notice.png');
  background-size: 100% 100%;
  padding: 15px 28px;
  margin-top: 75px;
  margin-bottom: 80px;
  background-position: center center;
}
.token-view-box-text img{
  margin-right: 15px;
}
.token-view-box-text p{
  max-width: 1135px;
  width: 100%;
}
.mb40{
  margin-bottom: 40px;
}
.btn3 {
    padding: 18px 25px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: transparent; /* Transparent background */
    border-radius: 40px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    background-clip: padding-box; /* Ensures the text area is clipped */
}

.btn3::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(135deg, #18F1FF, #3818FF); /* Gradient for border */
    border-radius: 42px; /* Slightly larger to ensure it wraps around smoothly */
    z-index: -1;
    pointer-events: none; /* Prevents the pseudo-element from blocking interactions */
}

.token-card-heading h3{ 
  color:#fff;
  font-size: 64px;
  font-weight: 900;
}
.token-btn{
  padding: 10px 20px;
  font-weight: 600;
  color:#fff;
  font-size: 15px;
  display: inline-block;
  text-transform: uppercase;
  border-radius:24px;
}
.token-card-thumnails ul{
  gap:10px;
  position: absolute;
  left:27px;
  top: 20px;
}
.token-btn-active{
  background: #2682EE;
  color: #fff;;
}
.token-btn-hover{
  background: #fff;
  color: #09111C;;
}
.token-card-middle p{
  font-size: 16px;
  line-height: 25px;
}
.token-card-middle h4{
  font-size: 40px;
  line-height: 50px;
  color:#fff;
  margin-bottom: 12px;
}
.token-supporter h4{
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
  color:#fff;
}
.token-supporter h6{
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 25px;
  color:#fff;
}
.token-supporter{
  margin-top: 22px;
  margin-bottom: 38px;
}
.token-view-terget p{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  color:rgba(255, 255, 255, 0.8);
}
.token-view-terget ul li span{
  font-size: 12px;
  font-weight: 600;
  color:rgba(255, 255, 255, 0.7);
}
.token-view-terget ul li{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
.token-terget-box{
  padding-bottom: 15px;
}
.running-token-section {
	position: relative;
	overflow: hidden;
}
.token-circle1 {
	background-image: url('../images/bg/circle1.png');
	position: absolute;
	width: 365px;
	height: 470px;
	top: 20%;
	right: -4%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.token-circle3 {
	background-image: url('../images/bg/circle3.png');
	position: absolute;
	width: 397px;
	height: 1000px;
	bottom: -20%;
	right: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.token-card-right {
	position: relative;
	z-index: 5;
}
.token-circle2{
  position: absolute;
  width: 634px;
  left: 0;
  top: 50%;
  height: 634px;
  background: linear-gradient(135deg, #18F1FF 0%, #3818FF 100%);
  opacity: 0.2;
  filter: blur(250px);
}
/* .token-circle3 {
	position: absolute;
	width: 634px;
	height: 634px;
	right: -14%;
	top: 82%;
	background: linear-gradient(135deg, #18F1FF 0%, #3818FF 100%);
	opacity: 0.2;
	filter: blur(250px);
} */
.mt40{
  margin-top: 40px;
}
.pt120{
  margin-top: 120px;
}
.token-terget-box::after {
	content: "";
	left: 0;
	bottom: 0;
	background: linear-gradient(270deg, #2682EE 0%, #1CD691 100%);
	height:4px;
	border-radius: 5px;
	position: absolute;
  opacity: 50%;
	width: 100%;
}
.social-menu ul li a{
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF0F;
  border-radius: 50%;
  padding: 9px;
  border:1px solid transparent;
  transition: 0.5s;
}
.social-menu ul li a:hover{
  border: 2px solid #6C6A7B;
  box-shadow: 0px 15px 31px 0px rgba(48, 230, 255, 0.3);
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);


}
.social-menu ul{
  gap: 13px;
}
.social-menu ul li a i{
  font-size: 20px;
  color:#fff;
}
.countdown-area h5{
  margin-bottom: 10px;
  font-weight:700;
  font-size: 17px;
  line-height: 25px;
  color:#fff;
}
.countdown-area ul{
  gap: 5px;
}
.countdown-area{
  margin: 28px 0;
}
.countdown-area ul li:nth-child(odd){
  padding: 13px 19px;
  display: inline-block;
  background: #FFFFFF26;
  font-size: 20px;
  font-weight: 700;
  color:#fff;
  border-radius: 6px;
}
.mt60{
  margin-top: 60px;
}
.token-view-more-btn{
  text-align: center;
}
.token-view-more-btn .primary-btn {
	min-width: 293px;
	display: inline-block;
	line-height:95px;
}
.countdown-area ul li span {
	font-size: 45px;
	color: rgba(255, 255, 255, 0.15);
}
.pt130{
  padding-top: 130px;
}
.free-btn .primary-btn {
	font-size: 20px;
	font-weight: 600;
	height: 54px;
	display: inline-block !important;
	padding: 0 40px;
	line-height: 56px;
  min-width:auto;
}
.token-card-main-area{
  background-image: url('../images/bg/token-single-bg.png');
  padding-top: 17px;
  padding-bottom: 25px;
  padding-left: 23px;
  padding-right: 80px;
  background-size:100% 100%;
}
.token-card-middle-area {
	margin-right: 96px;
}
.token-card-thumnails{
  margin-right: 45px;
  z-index: 2;
}
.ido-card-slider{
  gap: 30px !important;
}
.ido-card-slider .slick-slide {
	margin:0 10px;
}
.ido-single-card{
  background-image:url('../images/bg/ido-card.png');
  background-size: 100% 100%;
  background-position: center center;
  padding: 30px;
}
.ido-card-header-text .token-btn-active{
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);

}
.ido-card-logo img{
  width: 107px;
  height: 107px;
  border: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.ido-card-header-text h4{
  font-weight: 600;
  color:#fff;
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 35px;
}
.ido-card-header-text ul{
  gap: 15px;
}
.ido-card-body p{
  font-size: 16px;
  line-height: 24px;
}
.ido-active-offer{
  gap:20px;
}
.view-text-btn{
  font-weight: 500;
  font-size: 16px;
  color:#fff;
  padding: 10px 18px;
  border: 1px solid #1CD691;
  background-color:#151D28;
  border-image-slice:1;
  display: inline-block;
  border-radius: 110px;
}
.ido-single-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/bg/ido-after.png');
  background-size: 100% 67%;
  background-repeat: no-repeat;
  z-index: -1;
  animation: moveUpDown 3s ease-in-out infinite; /* Animation */
}

@keyframes moveUpDown {
  0% {
      transform: translateY(0); /* Starting position (bottom) */
  }
  50% {
      transform: translateY(-40px); /* Move up 20px */
  }
  100% {
      transform: translateY(0); /* Back to starting position */
  }
}
.ido-card-list-item{
  gap:20px;
  margin-bottom: 10px;
}
.ido-card-list-item p{
  color:#fff;
  min-width: 85px;
}
.ido-card-list-item img{
  width: 150px;
}
.upcoming-label > span{
font-size: 16px;
font-weight: 600;
padding: 10px 9px;
display: inline-block;
background: #2682EE;
border-radius: 5px;
color:#fff;

}
.mb60{
  margin-bottom: 60px;
}
.upcoming-label {
	position: absolute;
	right: 20px;
	top: 0;
}
.solid-line{
  width: 100%;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(270deg, #2682EE 0%, #1CD691 100%);
  border-image-slice: 1;
  position: relative;
  margin-top: 60px;
  margin-bottom: 16px;
}
.solid-line::after {
	content: "";
	position: absolute;
	left: -2px;
	top: -4px;
	height: 10px;
	width: 10px;
	background-color: #0E4D41;
	border-radius: 50%;
}
.solid-line::before {
	content: "";
	position: absolute;
	right: -2px;
	top: -4px;
	height: 10px;
	width: 10px;
	background-color: #0E4D41;
	border-radius: 50%;
}
.ido-card-list{
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 18px 20px;
}
.ido-card-body .social-menu ul li a{
  border-color:#6C6A7B;
}
.slick-arrow{
  height: 74px;
  width: 74px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  border-width: 0px, 0px, 0px, 0px;
  border:1px solid #1CD691;
  /* border-image-source: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%); */
}
.slider-arrows{
  
  gap: 34px;
}
.slick-arrow i{
  color:#fff;
  font-size: 20px;
}
.ido-slick-next{
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);
}
.ido-slick-prev:hover{
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);
}
.section-heading p{
  margin-top: 20px;
}
.section-heading h3{
  color:#fff;
  font-weight: 800;
  font-size: 64px;
  line-height: 100px;
}
.multi-chain-power-heading p{
  max-width: 992px;
  width: 100%;
  margin:auto;
}
.mt80{
  margin-top: 80px;
}
.multi-chain-card-text h4{
  margin-bottom: 12px;
  color:#FFFFFFCC;
  font-weight: 600;
  font-size: 28px;
  line-height:35px;
}
.multi-chain-card-text p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
 
.multi-chain-card{
  padding: 30px;
  gap: 15px;
  background-image: url('../images/bg/chain-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.multi-chain-card-logo img{
  width: 90px;
}
.multi-chain-power-section{
  background-image: url('../images/bg/chain-section-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.ptb120{
  padding: 120px 0;
}
.frequently-thumnail img{
  width: 100%;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
  transition: all 0.5s;
}

.accordion-button::after {
  transition: all 0.5s;
}

.frequently-answere .accordion-button{
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 15px 30px !important;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color:#FFFFFFCC;
}
.frequently-answere button,.frequently-answere button:active{
  
 
}
.frequently-answere .accordion-button:focus,.frequently-answere .accordion-button:active{
  border: none;
  outline: none;
}
.frequently-answere .accordion-item{
  background-image: url('../images/bg/frequently.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  background-position: center center;
}

.social-menu span{
  font-size: 14px;
  color:#fff;
  font-weight: 500;
  padding-bottom: 18px;
  display: inline-block;
  margin-top: 26px;
  line-height: 14px;
}
.footer-description{
  margin-right: 92px;
  max-width: 464px;
  width: 100%;
}
.footer-description .social-menu ul li a{
  height: 22px;
  padding: 6px;
  width: 22px;
  border-color: #6C6A7B;
}
.footer-description .social-menu ul li a i{
  font-size: 10px;
}
.footer-widgets-area{
  gap: 64px;
}
.footer-widgets h4{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
.footer-area{
  padding-bottom: 30px;

}
.footer-widgets ul li a,.footer-widgets ul li{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #FFFFFFCC;
}
.footer-widgets ul li a{
  padding: 5px 0;
  display: inline-block;
  transition: 0.5s;
}
.footer-widgets ul li a:hover,.terms-conditions ul li a:hover{
  color: #1CD691;
}
.contactinfo ul li:first-child{
  margin-bottom: 6px;
}
.footer-bottom-copyright{
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 3px solid #FFFFFF1A;
  padding-bottom: 40px;
}
.copyright-text p{}
.gradient-color{
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.terms-conditions ul{
  gap: 30px;
}
.terms-conditions ul li a{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  transition: 0.5s;
  color: #FFFFFFCC;
}